{% extends 'base.html.twig' %}

{% block title %}Восстановление аккаунта{% endblock %}

{% block body %}
<h2>Восстановление аккаунта</h2>

{% if message %}
    <p style="color:red">{{ message|raw }}</p>
{% endif %}

<form method="POST">
    Username: <input type="text" name="username" required><br>
    Мнемоника: <input type="text" name="mnemonic"><br>
    Новый пароль: <input type="password" name="new_password" required><br>
    <img src="{{ captchaImage }}" alt="captcha"><br>
    <input type="hidden" name="captcha_id" value="{{ captchaId }}">
    Введите капчу: <input type="text" name="captcha_answer" required><br>
    <button type="submit">Восстановить</button>
</form>

<p><a href="{{ path('app_login') }}">Назад</a></p>
{% endblock %}

